## gedit temp files
*~

## R script output
*.out

## R script output
*.jpg
*.tif
*.bmp
*.png
!abmi-logo-notext.png
!favicon.png

## jekyll built website
/_site/*

## old versions
/versions/*

## static content for species pages
/content/*

## species pages
/pages/species/mites/*
/pages/species/mosses/*
/pages/species/lichens/*
/pages/species/vplants/*
/pages/species/birds/*
/pages/species/mammals/*

## figures from other dirs
/methods/*
!/methods/index.html

/pages/geospatial/footprint/*
!/pages/geospatial/footprint/index.html
/pages/geospatial/vegetation/*
!/pages/geospatial/vegetation/index.html
/pages/geospatial/climate/*
!/pages/geospatial/climate/index.html
/pages/geospatial/soil/*
!/pages/geospatial/soil/index.html
/pages/geospatial/topography/*
!/pages/geospatial/topography/index.html
