## gedit temp files
*~

## R script output
*.out

## no graphics
*.jpg
*.tif
*.bmp
*.png
!abmi-logo-notext.png
!favicon.png

## jekyll built website
/_site/*

## old versions
/versions/*

## static content for species pages
/content/*
/images/*

## data are generated and not stored
/_data/*
!/_data/birds.csv
!/_data/mammals.csv
!/_data/mosses.csv
!/_data/lichens.csv
!/_data/vplants.csv
!/_data/mites.csv

## species pages
/pages/species/mites/*
/pages/species/mosses/*
/pages/species/lichens/*
/pages/species/vplants/*
/pages/species/birds/*
/pages/species/mammals/*

