## gedit temp files
*~

## jekyll built website
/_site/*

## old versions
/versions/*

## static content for species pages
/content/*

## species pages
## note: TOC is in /pages/
/pages/mites/*
/pages/mosses/*
/pages/mammals/*
/pages/birds/*
/pages/lichens/*
/pages/vplants/*

## figures from other dirs
/methods/*
!/methods/index.html
/footprint/*
!/footprint/index.html
/vegetation/*
!/vegetation/index.html
