---
layout: simple
title: Frequently Asked Questions
description: "ABMI Species Website: Frequently Asked Questions (FAQ)."
sidebar: true
---
{% assign count = '0' %}
{% for faq in site.data.faq %}
  {% capture count %}{{ count | plus: '1' }}{% endcapture %}
  <p><a href="{{ site.url }}/FAQ.html#{{ count }}">{{ count }}. {{ faq.q }}</a></p>
{% endfor %}
<hr>
{% assign count = '0' %}
{% for faq in site.data.faq %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
<h4 id="{{ count }}">{{ count }}. {{ faq.q }}</h4>
  <blockquote>
  <p>{{ faq.a }}</p>
  </blockquote>
{% endfor %}
{% assign count = nil %}
