<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
<link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/offcanvas.css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/jumbotron.css" rel="stylesheet">
<link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">
<style type="text/css">
    /* padding for bootstrap navbar */
    body {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    @media (max-width: 979px) {
        body {
            padding-top: 0px;
        }
    }
    .gsc-results-wrapper-overlay, .gsc-results-wrapper-visible, .gsc-search-button, .gsc-search-button-v2 {
        box-sizing: content-box;
    }
</style>
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
