{% capture navbar %}{% if page.navbar %}{{ page.navbar }}{% else %}{{ site.navbar }}{% endif %}{% endcapture %}
    <div class="navbar navbar-default navbar-fixed-top navbar-{{ navbar }}">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Species <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/species/mammals.html">Mammals</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/birds.html">Birds</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/mites.html">Soil mites</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/vplants.html">Vascular plants</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/mosses.html">Bryophytes</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/lichens.html">Lichens</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="results">Guilds <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
<!--                <li class="dropdown-header">Birds</li> -->
                <li><a href="{{ site.baseurl }}/pages/guilds/guild1.html">Guild 1</a></li>
                <li><a href="{{ site.baseurl }}/pages/guilds/guild2.html">Guild 2</a></li>
<!--                <li class="divider"></li>
                <li class="dropdown-header">Vascular plants</li>
                <li><a href="{{ site.baseurl }}/pages/guilds/guild3.html">Guild 3</a></li>
                <li><a href="{{ site.baseurl }}/pages/guilds/guild4.html">Guild 4</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Lichens</li>
                <li><a href="{{ site.baseurl }}/pages/guilds/guild5.html">Guild 5</a></li>
                <li><a href="{{ site.baseurl }}/pages/guilds/guild6.html">Guild 6</a></li>  -->
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Geospatial <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/geospatial/vegetation.html">Vegetation</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/soil.html">Soil</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/footprint.html">Human footprint</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/climate.html">Bioclimatic variables</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/topography.html">Topography</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/methods.html">Methods</a></li>
                <li><a href="{{ site.baseurl }}/collaborations.html">Collaborations</a></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
