<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}<img src="{{ site.url }}/images/abmi-logo-notext.png" class="img-circle" alt="ABMI logo" height="32" width="auto"></a>
    </div>
    

    <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav">
            <!-- <li><a href="{{ site.url }}">Home</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Results <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Species</li>
                {% for taxon in site.taxa %}
                <li><a href="{{ site.url }}{{ taxon.url }}">{{ taxon.title }}</a></li>
                {% endfor %}
                <li class="dropdown-header">Higher taxa</li>
                <li><a href="{{ site.url }}/coefficients/index.html">Coefficients</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.url }}/methods/index.html">Methods</a></li>
                <li><a href="{{ site.url }}/collaborations.html">Collaborations</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Land cover</li>
                <li><a href="{{ site.url }}/vegetation/index.html">Vegetation</a></li>
                <li><a href="{{ site.url }}/footprint/index.html">Footprint</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Other</li>
                <!-- <li><a href="{{ site.url }}/glossary.html">Glossary</a></li> -->
                <li><a href="{{ site.url }}/versions.html">Versions</a></li>
              </ul>
            </li>
            <li><a href="{{ site.url }}/news.html">News</a></li>

            <!-- <li><a href="{{ site.url }}/search.html">Search</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
          </ul>

    </div><!--/.navbar-collapse -->

  </div>
</div>
