{% capture navbar %}{% if page.navbar %}{{ page.navbar }}{% else %}{{ site.navbar }}{% endif %}{% endcapture %}
    <div class="navbar navbar-default navbar-fixed-top navbar-{{ navbar }}">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Single species <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/species/mammals.html">Mammals</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/birds.html">Birds</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/mites.html">Soil mites</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/vplants.html">Vascular plants</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/mosses.html">Bryophytes</a></li>
                <li><a href="{{ site.baseurl }}/pages/species/lichens.html">Lichens</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="results">Multi species <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/multispecies/intactness.html">Intactness</a></li>
                <li><a href="{{ site.baseurl }}/pages/multispecies/richness.html">Richness</a></li>
                <li><a href="{{ site.baseurl }}/pages/multispecies/uniqueness.html">Uniqueness</a></li>
                <li><a href="{{ site.baseurl }}/pages/multispecies/non-native-plants.html">Non-native plants</a></li>
                <li><a href="{{ site.baseurl }}/pages/multispecies/old-forest-birds.html">Old forest birds</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Habitats <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/habitat/edges.html">Native vegetation edge</a></li>
                <li><a href="{{ site.baseurl }}/pages/habitat/mesh-size.html">Native vegetation mesh size</a></li>
                <li><a href="{{ site.baseurl }}/pages/habitat/footprint-change.html">Human footprint change</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="resources">Geospatial inputs <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="{{ site.baseurl }}/pages/geospatial/footprint.html">Human footprint</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/vegetation.html">Vegetation</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/soil.html">Soil</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/climate.html">Bioclimatic variables</a></li>
                <li><a href="{{ site.baseurl }}/pages/geospatial/topography.html">Topography</a></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
